<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
&nbsp;
<a id="twitter-link"
	class="fa fa-twitter" style="font-size:26px;color:#DADCDF"
		title="Follow on Twitter" aria-label="Follow on Twitter"
		href="http://twitter.com/theBradleyDavis"></a>
&ensp;

<a id="linkedin-link"
	class="fa fa-linkedin" style="font-size:26px;color:#DADCDF"
		title="Connect on LinkedIn" aria-label="Connect on LinkedIn"
		href="http://www.linkedin.com/in/bradleymdavis"></a>
&ensp;
<a id="rss-link"
	class="fa fa-rss" style="font-size:26px;color:#DADCDF"
		title="Subscribe via RSS" aria-label="Subscribe via RSS"
	 href="{{ site.baseurl }}/feed.xml"></a>

&ensp;
<a id="tags-link"
	class="fa fa-tags" style="font-size:26px;color:#DADCDF"
		title="View site tags" aria-label="View site tags"
		href="{{ site.baseurl }}{{ tags_page.url }}"></a>	

&ensp;
<a id="search-link"
	class="fa fa-search" style="font-size:26px;color:#DADCDF"
		title="Search this site" aria-label="Search this site"
		href="{{ site.baseurl }}{{ search_page.url }}"></a>	
	

