<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>2018-02-02-entrepreneurship-and-liberal-arts.md</key>
			<dict>
				<key>lastModification</key>
				<real>548857051.51944196</real>
				<key>version</key>
				<dict>
					<key>6bebd04c46f91512524c214564670e1ea2976f9e8982883b51899ffdf3ae9ae6</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2018-04-20-campus-orthodoxies-strangle-healthy-discourse.md</key>
			<dict>
				<key>lastModification</key>
				<real>548857051.51944101</real>
				<key>version</key>
				<dict>
					<key>6bebd04c46f91512524c214564670e1ea2976f9e8982883b51899ffdf3ae9ae6</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2018-05-24-nietzsche.md</key>
			<dict>
				<key>lastModification</key>
				<real>548857051.51944196</real>
				<key>version</key>
				<dict>
					<key>6bebd04c46f91512524c214564670e1ea2976f9e8982883b51899ffdf3ae9ae6</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2018-06-13-resume.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>550568372.01859701</real>
				<key>lastModification</key>
				<real>550568372.01859701</real>
				<key>version</key>
				<dict>
					<key>6bebd04c46f91512524c214564670e1ea2976f9e8982883b51899ffdf3ae9ae6</key>
					<integer>40</integer>
				</dict>
			</dict>
		</dict>
		<key>userIconName</key>
		<real>548858821.29753196</real>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>2018-04-20-campus-orthodoxies-strangle-healthy-discourse.md</string>
		</array>
		<array>
			<string>2018-05-24-nietzsche.md</string>
		</array>
		<array>
			<string>2018-02-02-entrepreneurship-and-liberal-arts.md</string>
		</array>
		<array>
			<string>2018-06-13-resume.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>userIconName</key>
	<string>Computer</string>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>6bebd04c46f91512524c214564670e1ea2976f9e8982883b51899ffdf3ae9ae6</key>
			<integer>41</integer>
		</dict>
		<key>userIconName</key>
		<dict>
			<key>6bebd04c46f91512524c214564670e1ea2976f9e8982883b51899ffdf3ae9ae6</key>
			<integer>8</integer>
		</dict>
	</dict>
</dict>
</plist>
